@charset "utf-8";

.color1 {
  color: #76bd1d;
}

.color2 {
  color: #76bd1d;
}

.color3 {
  color: #0071cc;
}

.color1l {
  color: #04cd8f;
}

.font1 {
  font-family: 'Montserrat',sans-serif;
}

.font2 {
  font-family: 'Montserrat',sans-serif;
}

.anima1 {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.anima-none {
  -webkit-transition: none!important;
  -moz-transition: none!important;
  transition: none!important;
}

.anima-transform {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.background-cover,.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.responsive-image {
  width: 100%;
}

.no-pl {
  padding-left: 0!important;
}

.no-pr {
  padding-right: 0!important;
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clean-list li {
  padding-left: 0;
  margin-left: 0;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

body {
  color: #555;
  font-family: 'Montserrat',sans-serif;
}

.page-wrapper {
  width: 100%;
}

#body-content {
  background: #fafafa;
  position: relative;
  z-index: 2222;
}

h1,h2,h3,h4 {
  font-family: 'Montserrat',sans-serif;
  color: #76bd1d;
}

.title1 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

#back-to-top {
  display: block;
  position: fixed;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
  background: #76bd1d;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  z-index: 8888888888;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  opacity: 1;
  transform: translate(0px,0);
  -webkit-transform: translate(0px,0);
  -moz-transform: translate(0px,0);
  -o-transform: translate(0px,0);
  -ms-transform: translate(0px,0);
}

#back-to-top:hover {
  background: #0071cc;
}

.back-to-top-hide {
  opacity: 0!important;
  transform: translate(0px,12px)!important;
  -webkit-transform: translate(0px,12px)!important;
  -moz-transform: translate(0px,12px)!important;
  -o-transform: translate(0px,12px)!important;
  -ms-transform: translate(0px,12px)!important;
}

html::before,html::after,body::before,body::after {
  content: "";
  background: #eee;
  opacity: 1;
  position: fixed;
  z-index: 99;
  display: none;
}

@media (min-width:768px) {
  html::before,html::after,body::before,body::after {
    display: block;
  }
}

.title-section {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #76bd1d;
  border-bottom: 1px solid #76bd1d;
  padding-bottom: 10px;
  font-weight: 400;
}

@media (min-width:768px) {
  .title-section {
    font-size: 38px;
    border-bottom: 0;
    padding-bottom: 5px;
    letter-spacing: -1px;
  }

  #section-features .title-section{
    margin-bottom: 50px;
  }
}

.title-section small {
  font-size: 18px;
  color: #3f51b5;
}

.title-section2 {
  font-size: 18px;
  text-align: center;
}

@media (min-width:768px) {
  .title-section-border::after {
    content: '';
    display: block;
    height: 8px;
    width: 100%;
    background: url(../img/border3.png) no-repeat center center;
    margin-top: 25px;
    opacity: .6;
  }
}

.inverted-section {
  color: #fff!important;
  padding-top: 30px;
  padding-bottom: 30px;
}

.inverted-section h1,.inverted-section h2,.inverted-section h3,.inverted-section h4 {
  color: #fff!important;
}

.inverted-section .owl-pagination {
  margin-top: 30px;
}

.inverted-section .owl-pagination .owl-page span {
  background: #fff!important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.inverted-section .owl-pagination .owl-page.active span {
  background: #76bd1d!important;
}

.inverted-section .title-section {
  border-bottom-color: #fff;
}

@media (min-width:768px) {
  .inverted-section .title-section-border::after {
    background: url(../img/border3-negative.png) no-repeat center center;
  }
}

.inverted-section2 {
  color: #fff!important;
  padding-top: 30px;
  padding-bottom: 30px;
  background: url(../img/bg9.jpg) #0071cc;
}

.inverted-section2 h1,.inverted-section2 h4 {
  color: #fff!important;
}

.inverted-section2 .owl-pagination {
  margin-top: 30px;
}

.inverted-section2 .owl-pagination .owl-page span {
  background: #fff!important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.inverted-section2 .owl-pagination .owl-page.active span {
  background: #76bd1d!important;
}

.inverted-section2 .title-section {
  border-bottom-color: #fff;
}

@media (min-width:768px) {
  .inverted-section2 .title-section-border::after {
    background: url(../img/border3-negative.png) no-repeat center center;
  }
}

.inverted-section-neutral {
  background: #eee;
}

.image-bg-section {
  color: #fff!important;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.image-bg-section h1,.image-bg-section h2,.image-bg-section h3,.image-bg-section h4 {
  color: #fff!important;
}

.image-bg-section .owl-pagination {
  margin-top: 30px;
}

.image-bg-section .owl-pagination .owl-page span {
  background: #fff!important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.image-bg-section .owl-pagination .owl-page.active span {
  background: #76bd1d!important;
}

.image-bg-section .title-section {
  border-bottom-color: #fff;
}

@media (min-width:768px) {
  .image-bg-section .title-section-border::after {
    background: url(../img/border3-negative.png) no-repeat center center;
  }
}

.section-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width:768px) {
  .section-padding {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.section-title-wrapper {
  margin-bottom: 30px;
}

.section-bg {
  background: url(../img/section-bg.png) no-repeat center top #fafafa;
  background-size: 100% auto;
}

@media (min-width:992px) {
  .row-nopr .col-sm-3,.row-nopr .col-sm-4,.row-nopr .col-sm-6 {
    padding-right: 0!important;
  }
}

.contrast-with-image {
  color: #fff!important;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contrast-with-image h1,.contrast-with-image h2,.contrast-with-image h3,.contrast-with-image h4 {
  color: #fff;
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.clean-list li {
  list-style: none;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.magic-button {
  min-width: 150px;
  display: inline-block;
  border: none;
  background: 0 0;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  color: #76bd1d;
  border-color: #76bd1d;
  padding: 1em 2em;
}

.magic-button:focus {
  outline: 0;
}

.magic-button>span {
  vertical-align: middle;
}

.btn {
  min-width: 150px;
  display: inline-block;
  border: none;
  background: 0 0;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  color: #76bd1d;
  border-color: #76bd1d;
  padding: 1em 2em;
  font-weight: 700;
}

.btn:focus {
  outline: 0;
}

.btn>span {
  vertical-align: middle;
}

.btn-default {
  color: #fff;
  background: #76bd1d;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

@media (min-width:992px) {
  .btn-default {
    margin-bottom: 0;
  }
}

.btn-default::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -15px 0 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #3f51b5;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scale3d(1,2,1);
  transform: scale3d(1,2,1);
  -webkit-transition: -webkit-transform .3s,opacity .3s;
  transition: transform .3s,opacity .3s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,.9,1);
  transition-timing-function: cubic-bezier(0.7,0,.9,1);
}

.btn-default>span {
  vertical-align: middle;
  padding-left: .75em;
}

.btn-default:hover {
  background: #76bd1d;
  color: #fff;
}

.btn-default:hover::before {
  -webkit-transform: scale3d(9.5,9.5,1);
  transform: scale3d(9.5,9.5,1);
}

.plan-item-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.plan-item-btn:hover::before {
  -webkit-transform: scale3d(11,11,1);
  transform: scale3d(11,11,1);
}

.no-pleft {
  padding-left: 0;
}

.no-spadding {
  padding-left: 0;
  padding-right: 0;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0!important;
}

#page-loader {
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  font-family: 'Montserrat',sans-serif;
}

#page-loader::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #1d3047;
  z-index: 1;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

#page-loader::after {
  content: '';
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #1d3047;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.loader-out {
  opacity: 0;
}

.loader-out::before {
  transform: translateX(-600px);
  -moz-transform: translateX(-600px);
  -webkit-transform: translateX(-600px);
  opacity: 0;
}

.loader-out::after {
  transform: translateX(600px);
  -moz-transform: translateX(600px);
  -webkit-transform: translateX(600px);
  opacity: 0;
}

.loading-wrapper {
  width: 250px;
  position: fixed;
  top: 50%;
  margin-top: -130px;
  left: 50%;
  margin-left: -125px;
  opacity: 1;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  z-index: 9;
  transform: translateY(0px);
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.loading-wrapper-hide {
  opacity: 0;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
}

.tp-loader {
  z-index: 10000;
  position: relative;
}

.loader-name {
  color: #fff;
  opacity: .8;
  text-align: center;
  letter-spacing: 0;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 700;
  margin-top: 45px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  margin-bottom: 35px;
}

.loader-name img {
  max-width: 230px;
}

.loader-job {
  border: 1px solid #fff;
  padding: 5px;
  text-align: center;
  font-weight: 200;
  margin-top: 5px;
  color: #fff;
  font-size: 13px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.loader-left {
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
  opacity: 0;
}

.loader-right {
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
}

.loader-up {
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  transform: translateY(-80px);
  opacity: 0!important;
}

.loader-down {
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
  opacity: 0;
}

.loader-hide {
  opacity: 0;
}

.loader {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.loader-animation {
  text-align: center;
}

.svg-loader {
  margin: 0 auto;
  margin-bottom: -30px;
  display: block;
  -webkit-animation: svg-rotate 4000ms linear infinite;
  animation: svg-rotate 4000ms linear infinite;
}

.svg-loader circle {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 0,301.59289;
  -webkit-animation: stroke-dash 2000ms linear infinite,stroke-width 2000ms linear infinite,stroke-color 8000ms steps(4) infinite;
  animation: stroke-dash 2000ms linear infinite,stroke-width 2000ms linear infinite,stroke-color 8000ms steps(4) infinite;
}

@-webkit-keyframes svg-rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes svg-rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes stroke-width {
  0%,100% {
    stroke-width: 0;
  }

  45%,55% {
    stroke-width: 2;
  }

  50% {
    stroke-width: 4;
  }
}

@keyframes stroke-width {
  0%,100% {
    stroke-width: 0;
  }

  45%,55% {
    stroke-width: 2;
  }

  50% {
    stroke-width: 4;
  }
}

@-webkit-keyframes stroke-dash {
  0% {
    stroke-dasharray: 0,301.59289;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 301.59289,0;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 301.59289,301.59289;
    stroke-dashoffset: -301.59289;
  }
}

@keyframes stroke-dash {
  0% {
    stroke-dasharray: 0,301.59289;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 301.59289,0;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 301.59289,301.59289;
    stroke-dashoffset: -301.59289;
  }
}

@-webkit-keyframes stroke-color {
  from {
    stroke: #fff;
  }
}

@keyframes stroke-color {
  from {
    stroke: #fff;
  }
}

#header {
  background: url(../img/bgmask2.png) #000;
  opacity: .9;
  top: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 7777;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-family: 'Montserrat',sans-serif;
}

@media (min-width:992px) {
  #header {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-bottom: 0 solid #ccc;
    transform: translate3d(0px,0,0);
    padding-top: 38px;
    padding-bottom: 20px;
    background: 0 0;
  }
}

@media (min-width:1400px) {
  #header {
    padding-top: 60px;
  }
}

#header:hover {
  opacity: 1;
}

.navbar-toggle {
  color: #fff;
  font-size: 20px;
}

.navbar {
  margin-bottom: 0!important;
}

@media (min-width:992px) {
  .navbar-collapse {
    padding-top: 12px;
  }
}

.navbar-brand {
  display: block;
  width: 100%;
}

@media (min-width:992px) {
  .navbar-brand {
    padding: 0px;
  }
}

.header-logo {
  margin-top: 5px;
  opacity: 1;
  float: left;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media (min-width:992px) {
  .header-logo {
    width: 207px;
    margin-top: 0;
    margin-left: 20px;
  }
}

.header-logo img {
    max-width: 100%;
    max-height: 50px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.header-stick {
  background: url(../img/bgmask2.png) #000!important;
  opacity: .9;
  top: 0!important;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  position: fixed!important;
  padding-top: 5px!important;
  padding-bottom: 10px!important;
}

.header-stick:hover {
  opacity: 1;
}

.header-stick .hd-list-menu,.header-stick .secondary-menu {
  padding-top: 5px!important;
}

.header-stick .header-logo {
  width: 140px;
  margin-top: 8px;
}

.header-stick .navbar-collapse {
  padding-top: 0;
}

.fa-rounded {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #555;
  padding: 10px;
}

.menu-button-wrapper {
  padding-left: 0!important;
}

.menu-button {
  display: inline-block;
}

.btn-menu {
  background: #0071cc;
  border: 0;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  line-height: 30px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-menu:hover {
  background: #77b314;
}

.btn-menu .fa {
  font-size: 30px;
  vertical-align: middle;
  margin-right: 0;
}

.main-menu {
  padding: 25px;
  width: 250px;
  background: #111;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  border: 0;
  color: #fff;
  -webkit-transform: translate3d(-250px,0,0);
  transform: translate3d(-250px,0,0);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media (min-width:992px) {
  .main-menu {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

.main-menu-open {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.page-menu-open {
  -webkit-transform: translate3d(250px,0,0)!important;
  -moz-transform: translate3d(250px,0,0)!important;
  transform: translate3d(250px,0,0)!important;
}

.hd-list-menu {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  padding-top: 0;
}

@media (min-width:992px) {
  .hd-list-menu {
    text-align: right;
    padding-bottom: 0;
    margin-bottom: 5px;
    padding-right: 40px;
  }
}

@media (min-width:992px) {
  .hd-list-menu li {
    display: inline-block;
  }
}

.hd-list-menu a {
  color: #fff;
  display: block;
  padding: 12px;
  font-size: 15px;
  opacity: .9;
  font-weight: 700;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@media (min-width:992px) {
  .hd-list-menu a {
    position: relative;
  }

  .hd-list-menu a::before {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: .8;
  }

  .hd-list-menu a::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: .8;
  }

  .hd-list-menu a:hover,.hd-list-menu a:focus {
    background-color: transparent!important;
  }

  .hd-list-menu a:hover::before,.hd-list-menu a:focus::before {
    width: 100%;
  }

  .hd-list-menu a:hover::after,.hd-list-menu a:focus::after {
    width: 100%;
  }
}

.hd-list-menu a:hover, .hd-list-menu a:focus {
  text-decoration: none;
  color: #aae647;
}

.hd-list-menu li {
  margin-left: 0;
}

.secondary-menu {
  padding-top: 0;
  font-size: 15px;
  font-weight: 700;
  display: none;
}

@media (min-width:992px) {
  .secondary-menu {
    display: block;
  }
}

.secondary-menu a {
  color: #fff;
  display: block;
  padding: 12px;
  font-size: 15px;
  opacity: .9;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (min-width:992px) {
  .secondary-menu a {
    position: relative;
  }

  .secondary-menu a:hover,.secondary-menu a:focus {
    background-color: transparent!important;
    color: #76bd1d;
  }
}

.secondary-menu .btn-join {
  border: 1px solid #fff;
  min-width: auto;
  margin-left: 10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.secondary-menu .btn-join::before {
  background-color: transparent;
}

.secondary-menu .btn-join::after {
  background-color: transparent;
}

.secondary-menu .btn-join:hover {
  background: #76bd1d!important;
  border-color: #76bd1d!important;
  color: #fff!important;
}

@media (min-width:992px) {
  .secondary-menu {
    padding-left: 20px;
    border-left: 1px solid rgba(255,255,255,.7);
  }
}

.mm-social-icons {
  margin-top: 40px;
}

.mm-social-icons a {
  color: #76bd1d;
  margin-right: 3px;
}

.mm-social-icons a:hover .fa {
  background: #76bd1d;
}

.mm-social-icons .fa {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #555;
  padding: 10px;
  background: #fff;
  border: 0;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  padding-top: 12px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.mm-bottom-links {
  margin-top: 40px;
}

.mm-bottom-links a {
  color: #fff;
  font-size: 13px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.mm-bottom-links a:hover {
  color: #76bd1d;
  text-decoration: none;
}

.header-info-date {
  display: inline-block;
  margin-right: 30px;
  opacity: .7;
  font-style: italic;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  padding-right: 5px;
  font-weight: 700;
}

.btn-header {
  height: 62px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  line-height: 40px;
  vertical-align: middle;
}

.header-infos {
  padding-right: 0!important;
}

.header-logo-hide {
  opacity: 0;
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
}

.ic-hr {
  display: inline-block;
  width: 80%;
  max-width: 250px;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 2px solid #fff;
}

#footer {
  background: #34302d;
  color: #fff;
  padding-bottom: 52px;
  padding-top: 40px;
  line-height: 35px;
  text-align: center;
}

@media (min-width:992px) {
  #footer {
    text-align: left;
  }

  #footer p {
    font-family: 'Montserrat',sans-serif;
    line-height: 35px;
  }
}

.footer-social-icons {
  text-align: center;
  margin-top: 10px;
}

@media (min-width:992px) {
  .footer-social-icons {
    margin-top: 0;
    text-align: right;
  }
}

.footer-social-icons a {
  color: #fff;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  background: #76bd1d;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-size: 14px;
  line-height: 35px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin-left: 2px;
}

.footer-social-icons a:hover {
  color: #fff;
  background: #0071cc;
}

.main-intro {
  background: #76bd1d;
  color: #fff;
  background: no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
  opacity: .9;
}

.main-intro::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .9;
}

@media (min-width:992px) {
  .main-intro {
    min-height: 450px;
  }
}

.main-intro h1,.main-intro h2,.main-intro h3 {
  color: #fff;
}

.main-intro p {
  color: #fff;
}

.main-slide1 {
  background-image: url(../img/bg.png);
  background-attachment: fixed;
}

.main-intro-mask2::before {
  background: #0071cc;
  opacity: .6;
}

.main-intro-mask3::before {
  background: #333;
  opacity: .9;
}

.intro-content-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

@media (min-width:992px) {
  .intro-content-wrapper {
    min-height: 450px;
  }
}

.intro-content {
  text-align: center;
  width: 100%;
  text-shadow: 1px 2px 0 rgba(0,0,0,.3);
  position: absolute;
  top: 38%;
}

.intro-content .btn,.intro-content .btn2 {
  text-shadow: 1px 1px 0 rgba(10,0,0,.2);
  font-size: 12px;
  min-width: 100%;
  height: 50px;
  padding-top: 15px;
  display: inline-block;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@media (min-width:768px) {
  .intro-content .btn,.intro-content .btn2 {
    min-width: 240px;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.intro-content .btn-nobg {
  border: 2px solid #fff!important;
  color: #fff;
}

.intro-content .btn-nobg:hover {
  border-color: #76bd1d!important;
}

.intro-content p {
  font-size: 13px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 0 rgba(10,0,0,.3);
}

@media (min-width:992px) {
  .intro-content p {
    font-size: 16px;
  }
}

.intro-title1 {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width:992px) {
  .intro-title1 {
    font-size: 48px;
    line-height: 56px;
  }
}

.intro-title1::after {
  content: '';
  width: 15%;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #fff;
}

.ic-logo {
  width: 100%;
  opacity: .95;
  margin-bottom: 0;
}

.ic-logo img {
  max-width: 99%;
}

@media (min-width:992px) {
  .ic-logo img {
    max-width: 485px;
  }
}

.ic-title {
  font-weight: 700;
  font-size: 48px;
}

.ic-text p {
  font-size: 18px;
}

.ic-register {
  margin: 0 auto;
  margin-top: 42px;
  max-width: 900px;
}

@media (min-width:992px) {
  .ic-register {
    margin-bottom: 15px;
  }
}

.ic-register .form-control {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #fff;
  text-align: center;
  font-size: 14px;
}

.input-wrapper {
  position: relative;
  z-index: 1;
  display: block;
  vertical-align: top;
  width: 100%;
}

.input__field {
  position: relative;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-align: center;
}

.input__field:focus {
  outline: 0;
}

.input__field:focus,.input--filled input {
  background: 0 0;
  color: #fff;
}

.input__field:focus+.input__label .input__label-content,.input--filled .input__label-content {
  -webkit-transform: translate3d(0,-38px,0);
  transform: translate3d(0,-38px,0);
  background: #77b314;
  color: #fff;
  font-size: 13px;
}

.input__field:focus+.input__label .input__label-content i.fa,.input--filled .input__label-content i.fa {
  display: none;
}

.input__field:focus+.input__label .input__label-content::after,.input--filled .input__label-content::after {
  background: #77b314;
}

.input__label {
  display: inline-block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  left: 0;
  top: 12px;
  width: 100%;
  pointer-events: none;
  text-shadow: 0 0;
}

.input__label-content {
  position: relative;
  display: inline-block;
  background: 0 0;
  padding: 4px 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
  text-shadow: 0 0;
  font-weight: lighter;
  color: #999;
}

.input__label-content::after {
  content: '';
  height: 6px;
  width: 6px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  background: 0 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

label.error {
  display: inline-block;
  background: red;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 10px;
}

.btn-register {
  -webkit-border-radius: 20px!important;
  -moz-border-radius: 20px!important;
  border-radius: 20px!important;
  width: 100%!important;
  background: #76bd1d;
  color: #fff;
  -webkit-transition: background-color .3s,color .3s;
  transition: background-color .3s,color .3s;
}

.btn-register::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 50px;
  z-index: -1;
  opacity: .4;
  -webkit-transform: scale3d(0.8,.5,1);
  transform: scale3d(0.8,.5,1);
}

.btn-register:hover {
  -webkit-transition: background-color .1s .3s,color .1s .3s;
  transition: background-color .1s .3s,color .1s .3s;
  color: #fff;
  background-color: #76bd1d;
  -webkit-animation: anim-moema-1 .3s forwards;
  animation: anim-moema-1 .3s forwards;
}

.btn-register:hover::before {
  -webkit-animation: anim-moema-2 .3s .3s forwards;
  animation: anim-moema-2 .3s .3s forwards;
}

@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8,.8,1);
    transform: scale3d(0.8,.8,1);
  }

  85% {
    -webkit-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1);
  }

  100% {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}

@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8,.8,1);
    transform: scale3d(0.8,.8,1);
  }

  85% {
    -webkit-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1);
  }

  100% {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}

@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}

@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}

.ic-register-col {
  position: relative;
}

@media (min-width:768px) {
  .ic-register-col {
    padding-right: 5px!important;
    padding-left: 5px!important;
  }
}

.ic-buttons {
  margin-top: 5px;
}

@media (min-width:992px) {
  .ic-buttons {
    margin-top: 15px;
  }
}

.ic-register-ico {
  position: absolute;
  top: 15px;
  left: 25px;
  text-shadow: 0 0 0 rgba(10,0,0,.3);
  color: #fff;
  opacity: 1;
}

.intro-bar {
  border: 0;
  background: #fff;
  opacity: .7;
  width: 25%;
  text-align: left;
  margin: 0;
  height: 1px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.jumbotron.features {
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 60px;
  padding-top: 40px;
}

.main-title1 {
  font-weight: 200;
  letter-spacing: 0;
  font-size: 90px!important;
  line-height: 80px;
  margin-top: 0!important;
  padding-bottom: 20px;
  text-align: center;
}

.main-title2 {
  font-weight: 700!important;
  margin-bottom: 10px!important;
  font-style: italic;
  opacity: .8;
  font-size: 16px!important;
  margin-top: 60px;
}

@media (min-width:1200px) {
  .main-title2::after {
    content: '';
    display: inline-block;
    margin-left: 20px;
    height: 2px;
    background: #fff;
  }
}

#countdown {
  text-align: center;
  margin-top: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@media (min-width:1200px) {
  #countdown {
    margin: 0 auto;
  }
}

#countdown .countdown-time {
  font-weight: 700;
  display: block;
  margin-bottom: 0;
  font-size: 36px;
}

@media (min-width:992px) {
  #countdown .countdown-time {
    font-size: 112px;
    line-height: 150px;
    letter-spacing: -4px;
  }
}

#countdown .countdown-type {
  display: block;
  background: rgba(0,0,0,.7);
  color: #fff;
  padding: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-weight: 700;
  opacity: .9;
}

#countdown .countdown-col {
  position: relative;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

@media (min-width:768px) {
  #countdown .countdown-col {
    margin-left: 0;
    margin-right: 0;
  }
}

.countdown-buttons {
  margin-top: 20px;
}

@media (min-width:1400px) {
  .countdown-buttons {
    margin-top: 40px;
  }
}

.countdown-title {
  margin-bottom: 15px!important;
}

.countdown-title2 {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

@media (min-width:768px) {
  .countdown-title2 {
    margin-top: 40px;
  }
}

.main-carousel .owl-controls {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  z-index: 888;
}

.main-carousel .owl-controls .owl-page span {
  background: #fff!important;
}

.main-carousel .owl-controls .owl-page.active span {
  background: #76bd1d!important;
}

.section-show-me-numbers {
  background: 0 0;
  padding-top: 0!important;
  padding-bottom: 0!important;
  position: relative;
  z-index: 88888;
  background: #76bd1d;
}

.show-me-numbers {
  padding-left: 0!important;
  padding-right: 0!important;
  background-color: transparent;
}

@media (min-width:992px) {
  .show-me-numbers:hover .show-numbers-col {
    width: 24%;
  }
}

.show-numbers-col {
  min-height: 300px;
  padding: 20px;
  background: url('') no-repeat left center #76bd1d;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  float: left;
  width: 100%;
  text-align: center;
}

@media (min-width:992px) {
  .show-numbers-col:first-child {
    padding-left: 40px;
  }
}

@media (min-width:992px) {
  .show-numbers-col {
    width: 25%;
    height: 375px;
    padding-top: 110px;
  }

  .show-numbers-col:hover {
    background-color: #0071cc;
    width: 28%!important;
  }

  .show-numbers-col:hover .event-info-ico {
    opacity: .9;
  }
}

.show-numbers-col:last-child {
  border-right: 0;
}

.show-numbers-col h1,.show-numbers-col h2,.show-numbers-col h3,.show-numbers-col h4 {
  margin-top: 0;
}

.show-numbers-col .main-title3 {
  font-size: 48px;
  font-weight: 700;
}

.show-numbers-col p {
  font-weight: 700;
}

.show-numbers-ico {
  font-size: 32px;
  margin-bottom: 20px;
  opacity: .9;
}

.section-clients {
  padding-top: 20px;
  padding-bottom: 20px;
}

.clients-carousel-item img {
  max-width: 100%;
  opacity: .8;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.clients-carousel-item img:hover {
  opacity: 1;
}

#blog-itens-container {
  padding-left: 0!important;
  padding-right: 0!important;
  margin-left: -8px!important;
  margin-right: -8px!important;
}

.blog-item {
  margin-bottom: 0;
  padding: 9px;
}

.blog-item:hover .blog-item-wrapper {
  margin-top: -5px;
}

.blog-item:hover .title-border::after {
  width: 80px;
}

.blog-item-wrapper {
  padding: 0;
  padding-bottom: 5px;
  background: #f4f4f4;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0 3px 13px 0 rgba(50,50,50,.5);
  -moz-box-shadow: 0 3px 13px 0 rgba(50,50,50,.5);
  box-shadow: 0 3px 13px 0 rgba(50,50,50,.5);
}

.blog-item-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0;
}

.blog-item-title a {
  color: #76bd1d;
}

.blog-item-title a:hover {
  text-decoration: none;
}

.blog-item-thumb a {
  display: block;
}

.blog-item-thumb img {
  width: 100%;
}

.blog-item-infos {
  padding-left: 15px;
  padding-right: 15px;
}

.blog-item-title-hr {
  border: 0;
  border-top: 3px solid #76bd1d;
  width: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
}

.blog-item-description p {
  font-size: 14px;
}

.blog-item-description a {
  color: #555!important;
}

.blog-item-description a:hover {
  text-decoration: none;
}

.blog-item-link {
  margin-top: 20px;
  margin-bottom: 10px;
}

.blog-item-link .btn-default {
  display: block;
  font-size: 13px!important;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.blog-item-link .btn-default:hover::before {
  -webkit-transform: scale3d(13,13,1);
  transform: scale3d(13,13,1);
}

.section-header-image {
  margin-bottom: 40px;
}

.section-header-image img {
  width: 100%;
}

.blog-single-post {
  display: block;
  width: 800px;
  margin: 0 auto;
  max-width: 100%;
  padding: 25px;
  padding-right: 20px;
}

@media (min-width:992px) {
  .blog-single-content {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.blog-single-content p {
  font-size: 16px;
  line-height: 28px;
}

.blog-comments-title {
  margin-top: 120px;
  font-size: 18px!important;
}

.post-header-image {
  margin-left: -25px;
  margin-right: -20px;
  margin-top: -25px;
  margin-bottom: 25px;
}

@media (min-width:992px) {
  .post-header-image {
    margin-bottom: 40px;
  }
}

.post-header-image img {
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.blog-single-title {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  border-bottom: 0;
}

.blog-single-title a {
  color: #76bd1d;
}

.blog-single-title a:hover {
  text-decoration: none;
}

.blog-single-title::after {
  content: '';
  display: block;
  background: #76bd1d;
  width: 25%;
  height: 3px;
  margin: 0 auto;
  margin-top: 12px;
}

@media (min-width:992px) {
  .blog-single-title::after {
    margin-bottom: 40px;
  }
}

.fancybox-close {
  position: absolute;
  top: 4px;
  right: 24px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  background: url(../img/fancybox-close.png) no-repeat center center;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.fancybox-close:hover {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}/*! Blog Comments */.blog-comments-title {
  margin-bottom: 20px;
  margin-top: 40px;
}

.media-heading {
  font-weight: 700;
}

.media-heading small {
  display: block;
  color: #1194ee;
  margin-top: 8px;
}

.media-body {
  font-size: 12px;
}

.well {
  background-color: transparent!important;
}

.blog-comments>.media {
  border-bottom: 1px dotted #000;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.media img {
  width: 64px!important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.team-item {
  width: 100%;
  padding-right: 10px;
}

.team-member-picture-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.team-member-picture-wrapper:hover .team-item-picture img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.team-member-picture-wrapper:hover .team-member-find-overlay {
  transform: translateY(0px);
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.team-member-picture-wrapper .team-member-find {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  opacity: 1;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.team-member-picture-wrapper .team-member-find-overlay {
  position: relative;
  background: rgba(0,0,0,.8);
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  height: 70px;
  transform: translateY(70px);
  -moz-transform: translateY(70px);
  -webkit-transform: translateY(70px);
}

.team-member-picture-wrapper .team-member-find-overlay a {
  color: #fff;
}

.team-member-picture-wrapper .team-member-find-overlay .block-link {
  width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  padding-top: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-right: 4px;
}

.team-member-picture-wrapper .team-member-find-overlay .block-link:hover {
  background: #fff;
  color: #333;
}

.team-member-picture-wrapper .team-member-find-content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -20px;
}

.block-link {
  display: inline-block;
  padding: 5px;
  border: 1px solid #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.team-item-picture {
  overflow: hidden;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.team-item-picture img {
  width: 100%;
  -webkit-transition: all 1.2s linear;
  -moz-transition: all 1.2s linear;
  transition: all 1.2s linear;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

@media (min-width:768px) {
  .team-item-picture img {
    margin-bottom: 0;
  }
}

.team-item-content span.fa {
  margin-right: 5px;
}

.team-item-content p {
  word-wrap: break-word;
}

.team-item-title {
  margin-top: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 0;
}

.team-item-subtitle {
  font-style: italic;
  font-size: 13px;
}

.form-control {
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 50px;
  font-size: 14px;
  color: #111;
  margin-bottom: 5px;
  font-family: 'Montserrat',sans-serif;
}

.btn-form {
  width: 100%;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.modal-wrap {
  display: none;
}

.modal-bg {
  background: #333;
  opacity: .9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modal-content {
  background: #b6c6ad;
  font-size: 18px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  z-index: 9999;
  padding: 10px 20px;
}

.modal-content .modal-title {
  color: #76bd1d;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  font-weight: 700;
}

.modal-content p {
  font-size: 14px;
  margin-bottom: 0;
}

#contactError .modal-title {
  color: #fff;
}

.section-subscribe .btn-default {
  height: 50px;
  line-height: 50px;
  padding-top: 0;
  -webkit-border-radius: 0 25px 25px 0;
  -moz-border-radius: 0 25px 25px 0;
  border-radius: 0 25px 25px 0;
}

.section-features {
  padding-top: 40px;
  padding-bottom: 0;
}

.intro-feature-item {
  text-align: center;
  margin-bottom: 30px;
}

.intro-feature-icon {
  font-size: 95px;
  line-height: 95px;
  margin-bottom: 10px;
}

.intro-feature-title {
  color: #76bd1d;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.intro-feature-description p {
  font-size: 14px;
  line-height: 18px;
}

.tabs {
  margin-top: 60px;
}

.tabs-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-buttons::after {
  content: '';
  display: block;
  clear: both;
}

.tabs-buttons li {
  list-style: none;
}

@media (min-width:768px) {
  .tabs-buttons li {
    display: inline-block;
    width: 33%;
  }
}

.tabs-buttons li a {
  display: block;
  padding: 20px;
  margin-right: -1px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.tabs-buttons li a:hover {
  background: hsla(106, 82%, 80%, 0.95);
  text-decoration: none;
}

.tabs-buttons li.active a {
  background: #76bd1d;
  color: #fff;
  text-decoration: none;
  position: relative;
}

@media (min-width:768px) {
  .tabs-buttons li.active a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    background: #fafafa;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.feature-item {
  padding-top: 40px;
  padding-bottom: 0;
}

@media (min-width:992px) {
  .feature-item {
    border-bottom: 0;
    padding-top: 90px;
  }
}

.feature-item p {
  font-size: 17px;
}

.feature-item-image {
  text-align: center;
  margin-top: 25px;
}

@media (min-width:768px) {
  .feature-item-image {
    margin-top: 0;
  }
}

.feature-item-image img {
  max-width: 100%;
}

.feature-item-icons-wrapper {
  margin-top: 20px;
}

.feature-item-icons-wrapper p {
  font-size: 14px;
  line-height: 20px;
  color: #555;
}

.feature-item-icons-wrapper .feature-item-icon {
  font-size: 36px;
}

.feature-item-icons-wrapper .feature-item-icon-title {
  font-weight: 700;
  text-transform: none;
  color: #555;
  margin-bottom: 12px;
  margin-top: 15px;
}

.feature-item-invert {
  text-align: right;
}

.feature-item-invert .feature-item-title,.feature-item-invert p {
  text-align: right;
}

.feature-item-title {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -1px;
}

@media (min-width:992px) {
  .feature-item-title {
    margin-top: 15px;
  }
}

.feature-item-title::after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  background:#34302d;
}

.section-testimonials {
  text-align: center;
  font-size: 18px;
}

.testimonial-item {
  max-width: 700px;
  margin: 0 auto;
  font-family: 'Montserrat',sans-serif;
}

@media (min-width:768px) {
  .testimonial-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.quote-text {
  font-style: italic;
}

.testimonial-credits {
  margin-top: 30px;
}

.testimonial-author {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 25px;
  font-weight: 700;
}

.testimonial-content {
  background: url('') no-repeat center center #76bd1d;
  color: #fff;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}

.testimonial-content::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: url('') no-repeat center center #76bd1d;
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.testimonial-content p {
  font-size: 13px;
}

@media (min-width:768px) {
  .testimonial-content p {
    font-size: 15px;
    line-height: 18px;
    line-height: 22px;
  }
}

.testimonial-picture {
  width: 110px;
  height: 110px;
  overflow: hidden;
  margin: 0 auto;
}

.testimonial-picture img {
  width: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 6px solid #ddd;
}

.testimonial-firm {
  font-size: 15px;
  margin-bottom: 0;
}

.owl-carousel {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.owl-carousel * {
  will-change: transform;
}

.owl-carousel:focus {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.owl-carousel:active {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.owl-carousel:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.owl-theme .owl-controls .owl-page.active span {
  background: #76bd1d!important;
}

.plan-item {
  text-align: center;
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-bottom: 20px;
}

@media (min-width:992px) {
  .plan-item {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 0;
  }
}

.plan-item:hover {
  -webkit-box-shadow: 0 3px 13px 0 rgba(50,50,50,.3);
  -moz-box-shadow: 0 3px 13px 0 rgba(50,50,50,.3);
  box-shadow: 0 3px 13px 0 rgba(50,50,50,.3);
  transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
}

.plan-item .disabled {
  text-decoration: line-through;
  opacity: .7;
}

.plan-item-head {
  background: url(../img/bgmask2.png) #0071cc;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.plan-item-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}

.plan-item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

.plan-item-list li {
  margin-bottom: 10px;
  font-size: 15px;
}

.plan-item-price {
  margin-bottom: 0;
  background: #eee;
  color: #333;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.plan-item-price-title {
  font-size: 70px;
  margin-top: 0;
  font-weight: 700;
  color: #333;
}

.plan-item-price-symbol {
  font-size: 24px;
}

.plan-item-price-title2 {
  opacity: .8;
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
  color: #333;
}

.plan-item-btn {
  margin-top: 0;
  display: block;
  height: 80px;
  width: 100%;
  float: none;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 0;
  font-weight: 700;
}

.plan-item-btn:hover {
  border-top: 0;
}

.section-contact-infos {
  padding-bottom: 0;
}

.contact-infos {
  margin-bottom: 40px;
}

.map {
  padding-bottom: 0;
  margin-bottom: 20px;
}

@media (min-width:768px) {
  .map {
    margin-bottom: 0;
  }
}

.map iframe {
  width: 100%!important;
  margin-bottom: -5px!important;
  pointer-events: none;
  border: 0!important;
}

html.safari::before,html.safari::after {
  display: none!important;
}

.safari body::before,.safari body::after {
  content: "";
  display: none!important;
  visibility: hidden!important;
  opacity: 0;
  position: relative;
  z-index: -99999;
}

@media (min-width:768px) {
  .safari body::before,.safari body::after {
    display: none!important;
  }
}

.safari body::before {
  height: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: !important;
}

.safari body::after {
  width: 0;
  top: 0;
  display: !important;
}

.ie .header-logo img {
  width: 100%!important;
}

.ie9 #page-loader {
  display: none!important;
}

@media (max-width: 767px){
  .header-stick .header-logo{
    margin-top: 5px;
  }

  .header-stick{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }

}

.nav>li>a:focus, .nav>li>a:hover{
  background-color: transparent;
  outline: 0px;
}
#section-products{
  margin-top: 0px;
  padding-top: 60px;
}

.tabs-buttons li a {
  color: #76bd1d
}
